@charset "utf-8";

.dis-box { width: 100%; background: #ffffff; margin-bottom: 13px; border-bottom: 1px solid #d2d2d2;
	.dis-title { margin-left: 16px; padding-top: 9px; font-size: 16px; line-height: 30px; border-bottom: 1px solid #d2d2d2; font-weight: bold; }
}

/* 课程封面 */
.dis-title-text { font-size: 16px; line-height: 46px; text-align: center; color: #0092ff; border-bottom: 1px solid #d2d2d2; }
.dis-cover-textbox { font-size: 10px; line-height: 22px; padding: 9px 0 12px 16px; border-bottom: 1px solid #d2d2d2;
	i { font-style: normal;}
}

/* 分享会内容 */
.dis-share-li { padding: 9px 16px 10px 16px; border-bottom: 1px solid #eeeeee;
	&:last-child { border-bottom: 0;}
	.dis-share-title { text-indent: -0.5em; font-size: 12px; line-height: 22px; font-weight: bold; }
	i { font-style: normal; }
	.dis-share-text { font-size: 9px; line-height: 21px; }
}
/* 主讲人信息 */
.dis-speaker-li {  padding-bottom: 18px; border-bottom: 1px solid #eeeeee;
	&:last-child { border-bottom: 0;}
	.dis-speaker-btn { box-sizing: border-box; display: block; height: 56px;
		img { margin-top: 8px; margin-left: 16px; border-radius: 20px; float: left}
		div { float: left; margin-top: 8px; margin-left: 14px;
			p:nth-child(1){ font-size: 15px; line-height: 25px; color: #0092ff;}
			p:nth-child(2){ font-size: 9px; line-height: 14px; color: #000000; }
		}
		span { display: block; width: 9px; height: 17px; @extend %icons; background-position: -62px -13px; float: right; margin-right: 17px; margin-top: 19px; -webkit-transform: rotate(180deg); transform: rotate(180deg);}
	}
	p { font-size: 9px; line-height: 22px; margin-left: 16px; margin-right: 16px;}
}





