@charset "utf-8";

/* 桃心样式 */
#c_heart_btn {
	width: 150px;
	height: 100px;
	margin: 200px 0 0 50px;
	position: relative;
	border: 1px solid black;
}
.c_heart {
	width: 11px;
	height: 10px;
	@extend %icons;
	background-position: -53px 0;
	position: absolute;
	top: -10px;
	right: -11px;
}

/* 桃心动画组 */
