@charset "utf-8";
@import "base";
html,body { width: 100%; height: 100%; overflow: hidden;}
// --- Public
%icons { background: url("../images/icons.png") no-repeat; background-size: 100px auto;}

.p-wrap { width: 100%; height: 100%; overflow: auto; position: relative; -webkit-overflow-scrolling: touch;
	&:after { content: ''; display: block; width: 100%; height: 70px;}
}

.p-header { width: 100%; height: 44px; background: #fff; border-bottom: 1px solid #eeeeee; position: relative;
	.p-header-h2 { box-sizing: border-box; width: 100%; height: 44px; padding: 0 50px; line-height: 44px; text-align: center; font-size: 16px; color: #333; overflow: hidden; word-break: break-all;}
	a { position: absolute; top: 0; display: block; width: 29px; height: 29px; font-size: 0;
		&:after { content: ''; position: absolute; left: 50%; top: 50%; -webkit-transform: translate3d(-50%,-50%,0); @extend %icons;}
	}
	.p-header-bck { left: 0; width: 30px; height: 100%;
		&:after { display: block; width: 9px; height: 17px; background-position: -62px -13px;}
	}
	.p-header-shr { right: 10px; width: 25px; height: 100%;
		&:after { display: block; width: 23px; height: 20px; background-position: -73px 0;}
	}
}

.p-lr13 { padding: 0 13px;}
.p-btmfix { position: absolute; left: 0; bottom: 0; right: 0; box-sizing: border-box; width: 100%; height: 63px; background: #fff; }
.p-btmfix2 { position: absolute; left: 0; bottom: 0; right: 0; box-sizing: border-box; width: 100%; height: 55px; background: #fff;
	.p-btm-star { float: left; width: 54px; height: 50px; padding: 5px 0 0 10px; border-right: 1px solid #eeeeee;
		a { display: block; width: 100%; height: 15px; padding: 32px 0 3px 0; line-height: 15px; text-align: center; font-size: 9px; color: #999; position: relative;
			&:before { content: ''; position: absolute; left: 50%; top: 7px; display: block; width: 24px; height: 22px; margin-left: -12px; @extend %icons; background-position: 0 0;}
		}
	}
	.p-btm-r { overflow: hidden; box-sizing: border-box; padding: 0 10px 0 20px;
		.p-btn { margin-top: 7px;}
	}
}

.p-btn { display: block; width: 100%; height: 40px; margin-top: 12px; line-height: 40px; text-align: center; font-size: 15px; border-radius: 5px; background: #0092ff; color: #fff;}

// --- 专题
.topic-box { padding: 13px 12px 50px; background: #fff;
	h3 { font-size: 16px; line-height: 21px; text-align: center; color: #0092ff;}
	.topic-txt { padding-top: 15px; line-height: 21px; font-size: 12px; color: #666;
		p { }
	}
}

// --- 用户中心
.user-box { background: #fff; box-sizing: border-box; width: 100%; padding: 0 10px; margin-bottom: 8px;}
.user-img { width: 100%; height: 0; padding-top: 50%; position: relative; background: #eeeeee;
	&.img-66 { padding-top: 66.66%;}
	&.img-53 { padding-top: 53.33%;}
	img { position: absolute; left: 0; right: 0; top: 0; bottom: 0; width: 100%; height: 100%;}
}
.user-info { padding: 12px 0 0; position: relative;
	figure { float: left; width: 40px; height: 40px; margin-bottom: 15px; border-radius: 20px; overflow: hidden;
		img { display: block; width: 100%; height: 100%;}
	}
	.user-infoR { overflow: hidden; padding-left: 15px; width: 120px;
		h4 { line-height: 23px; font-size: 13px; color: #666;}
		p { padding-top: 4px; line-height: 15px; font-size: 10px; color: #666;}
	}
	.user-infoR-r { position: absolute; right: 10px; top: 23px; font-size: 0; text-align: right;
		span { display: inline-block; padding-right: 18%; line-height: 18px; font-size: 12px; color: #0092ff;}
		span:last-child { padding: 0;}
	}
	@media (max-width:330px){
		.user-infoR-r span { padding-right: 10%;}
	}
}
.user-rz { padding: 12px 0 16px; border-top: 1px solid #ddd; font-size: 0;
	span { display: inline-block; font-size: 10px; color: #666; margin-right: 20px; line-height: 20px;
		&.user-rz-fa:before { content: ''; display: inline-block; width: 8px; height: 8px; margin: 0 5px 0 0; @extend %icons; background-position: -44px 0;}
		&.user-rz-db:before { content: ''; display: inline-block; width: 9px; height: 10px; margin: 0 5px 0 0; @extend %icons; background-position: -44px -10px;}
	}
}
.user-header { text-align: center; border-bottom: 1px solid #0092ff; margin-bottom: 1px;
	h3 { display: inline-block; padding: 2px 20px 0; margin-bottom: -2px; height: 32px; min-width: 60px; line-height: 32px; border-bottom: 3px solid #0092ff; font-size: 15px; color: #666;}
	&.c-dark { border-bottom-color: #0079df;
		h3 { border-bottom-color: #0079df;}
	}
}

// 临时
.wrap { width: 500px; height: 400px; margin: 50px auto 0; background: #f2f2f2; border: 2px solid #999; position: relative;}
.bullet-box { width: 200px; height: 240px; background: #ffffff; border: 2px solid #aa1c1a; position: absolute; right: 0; top: 0; overflow: hidden;
	.unit { position: absolute; right: 10px; top: 260px; display: block; max-width: 200px; height: 30px; padding: 5px; background: rgba(0,0,0,.3); color: #fff; border-radius: 10px; -webkit-transition: -webkit-transform 1s ease-in 0s; transition: transform 1s ease-in 0s;
		.face { float: left; display: block; width: 30px; height: 30px; margin-right: 5px; border-radius: 50%;}
		.text { overflow: hidden; font-size: 13px; line-height: 15px; height: 30px; word-break: break-all;}
	}
}

@import "bb";
@import "heart";